{
  "openapi": "3.1.0",
  "info": {
    "title": "Alignment Economy Node API",
    "version": "0.1.0",
    "description": "The Alignment Economy protocol node API. Write requests are signed: the body is a { accountId, timestamp, signature, payload } envelope, where signature is an ML-DSA-65 signature over the canonical payload. Amounts are base-unit integer strings (10^8 per point)."
  },
  "servers": [
    {
      "url": "https://alignmenteconomy.org"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "paths": {
    "/api/v1/accounts": {
      "post": {
        "summary": "Create an account",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "minLength": 1
                      },
                      "publicKey": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions": {
      "post": {
        "summary": "Submit a signed transaction",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "to": {
                        "type": "string",
                        "minLength": 1
                      },
                      "amount": {
                        "type": "string",
                        "pattern": "^[1-9]\\d*$"
                      },
                      "pointType": {
                        "type": "string",
                        "enum": [
                          "active",
                          "supportive",
                          "ambient",
                          "earned"
                        ]
                      },
                      "isInPerson": {
                        "type": "boolean"
                      },
                      "recipientIsHuman": {
                        "type": "boolean"
                      },
                      "memo": {
                        "type": "string"
                      },
                      "receiverSignature": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "to",
                      "amount",
                      "pointType"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/court/challenges": {
      "post": {
        "summary": "File a challenge (miner only)",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "defendantAccountId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "caseType": {
                        "type": "string",
                        "enum": [
                          "not_human",
                          "duplicate_account"
                        ]
                      },
                      "stakePercent": {
                        "type": "number"
                      },
                      "openingArgument": {
                        "type": "string"
                      },
                      "counterpartAccountId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "defendantAccountId",
                      "caseType",
                      "stakePercent"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/court/cases/{id}/arguments": {
      "post": {
        "summary": "Submit a case argument",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "minLength": 1
                      },
                      "attachmentHash": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "text"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/court/cases/{id}/vote": {
      "post": {
        "summary": "Cast a juror vote (miner only)",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "vote": {
                        "type": "string",
                        "enum": [
                          "human",
                          "not_human"
                        ]
                      }
                    },
                    "required": [
                      "vote"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/tags/products": {
      "post": {
        "summary": "Register a durable good",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "category": {
                        "type": "string",
                        "minLength": 1
                      },
                      "manufacturerId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "category"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/tags/spaces": {
      "post": {
        "summary": "Register a space",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "type": {
                        "type": "string",
                        "minLength": 1
                      },
                      "parentId": {
                        "type": "string"
                      },
                      "entityId": {
                        "type": "string"
                      },
                      "collectionRate": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "name",
                      "type"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/tags/supportive": {
      "post": {
        "summary": "Submit supportive tags",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "day": {
                        "type": "number"
                      },
                      "tags": {
                        "type": "array",
                        "items": {}
                      }
                    },
                    "required": [
                      "day",
                      "tags"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/tags/ambient": {
      "post": {
        "summary": "Submit ambient tags",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "day": {
                        "type": "number"
                      },
                      "tags": {
                        "type": "array",
                        "items": {}
                      }
                    },
                    "required": [
                      "day",
                      "tags"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/verification/evidence": {
      "post": {
        "summary": "Submit verification evidence",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "evidenceTypeId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "evidenceHash": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "evidenceTypeId",
                      "evidenceHash"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/verification/panels/{id}/score": {
      "post": {
        "summary": "Score a verification panel (miner only)",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "score": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "score"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/miners/evidence": {
      "post": {
        "summary": "Submit miner identity evidence",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "evidenceTypeId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "evidenceHash": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "evidenceTypeId",
                      "evidenceHash"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/miners/vouches": {
      "post": {
        "summary": "Vouch for another account",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "vouchedId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "stakePercent": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "vouchedId",
                      "stakePercent"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/miners/vouch-requests": {
      "post": {
        "summary": "Request a vouch",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "toId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "message": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "toId"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/miners/vouch-requests/{id}": {
      "put": {
        "summary": "Respond to a vouch request",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "accepted",
                          "declined"
                        ]
                      }
                    },
                    "required": [
                      "status"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/recurring": {
      "post": {
        "summary": "Create a recurring transfer",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "toId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "amount": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "string",
                            "minLength": 1
                          }
                        ]
                      },
                      "pointType": {
                        "type": "string",
                        "enum": [
                          "active",
                          "supportive",
                          "ambient",
                          "earned"
                        ]
                      },
                      "schedule": {}
                    },
                    "required": [
                      "toId",
                      "amount"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/contacts": {
      "post": {
        "summary": "Add a contact",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "timestamp",
                  "signature",
                  "payload"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix seconds; must be within 5 minutes of server time"
                  },
                  "signature": {
                    "type": "string",
                    "description": "ML-DSA-65 signature over the canonical payload + timestamp"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "contactAccountId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "nickname": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "contactAccountId"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "signedEnvelope": []
          }
        ]
      }
    },
    "/api/v1/health": {
      "get": {
        "summary": "Liveness check",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}": {
      "get": {
        "summary": "Get an account",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/ledger": {
      "get": {
        "summary": "Get an account audit trail",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/court/cases/{id}": {
      "get": {
        "summary": "Get a court case",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "signedEnvelope": {
        "type": "apiKey",
        "in": "header",
        "name": "signature",
        "description": "Authentication is a signed request envelope, not a header token: send { accountId, timestamp, signature, payload } where signature is the ML-DSA-65 signature over the payload. Documented as apiKey for tooling compatibility."
      }
    }
  }
}
